@import url(https://fonts.googleapis.com/css?family=Nunito);.badge-secondary {
  color: black;
  background: lightgray;
}

.input-group-append .btn {
  min-width: 85px !important;
}

.card-primary:not(.card-outline) > .card-header {
  background-color: #374654 !important;
}

.btn {
  min-width: 70px;
}

.btn-primary {
  background-color: #374654;
  border-color: #374654;
}

.btn-primary:hover {
  color: #fff;
  background-color: #253747;
  border-color: #253747;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #253747;
  border-color: #253747;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #253747;
  border-color: #253747;
  box-shadow: none, 0 0 0 0 rgba(38, 143, 255, 0.5);
}

.card-primary.card-outline {
  border-top: 3px solid #374654 !important;
}

a {
  color: #374654;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #253747;
  text-decoration: none;
}

.btn-outline-primary {
  color: #374654;
  border-color: #374654;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #253747;
  border-color: #253747;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #253747;
  border-color: #253747;
}

.bg-primary {
  background-color: #374654 !important;
}

.btn-sm {
  font-size: 12px;
}

.card-footer {
  background-color: white !important;
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.text-nowrap {
  overflow: hidden;
  max-width: 250px;
  text-overflow: ellipsis;
}

.bordered {
  padding: 10px;
  border: solid 1px lightgray;
  margin: 0px;
  border-radius: 4px;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0c529c;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #374654 !important;
  border-color: #374654 !important;
}

select.mini {
  height: auto;
  line-height: 14px;
}

input:disabled {
  background: #fff !important;
}

select:disabled {
  background: #fff !important;
  color: black !important;
}

textarea:disabled {
  background: #fff !important;
}

/******************** Extra Small *******************/

/********************** Small **********************/

/********************** Medium **********************/

/********************** Large ***********************/

